# Programming for Data Science and Artificial Intelligence

## Pandas

### Readings: 
- [VANDER] Ch3
- https://pandas.pydata.org/docs/

In [ ]:
# Pandas is built on top of NumPy
#   it means that Pandas, in a very raw level, is actually nothing but NumPy array
#   pandas has added functionality, like dealing with missing values, for example

# so why NumPy?  Why not use Pandas always?
# Pandas is MUCH slower than NumPy

### Import Pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.3'

# 1. Extract-Transform-Load (ETL) 

- Challenge: many data sources; maintain a lot of connectors; transform them to one single format

### Load csv file

In [3]:
#the name of data that pandas called, is "Dataframe"
df = pd.read_csv("howlongwelive.csv")

### Preview the dataframe

In [4]:
#you use df.head()
#format: df.head(number of rows; default is 5; you can also put negative numbers)
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
#as I say, Pandas IS NumPy
df.shape

#means that there are 2938 rows, and 22 columns

(2938, 22)

In [6]:
#maybe you want a list of columns
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

# 2. Exploratory Data Analysis (EDA)
- looking at the distribution of data
- plot something useful
- understand the data
- know which features to use
  
Note: **this is the MOST important step in all data science**

In [ ]:
## related seaborn
#df.info()

#list the datatypes of the dataframe
#key: we DON'T LIKE "object" ==> "string"

#so when you "object", you change it to numbers or drop it

In [7]:
#two ways to access each column
#format1:  df['colname']
#format2:  df.colname
df['Status']  #try df.Status

0       Developing
1       Developing
2       Developing
3       Developing
4       Developing
           ...
2933    Developing
2934    Developing
2935    Developing
2936    Developing
2937    Developing
Name: Status, Length: 2938, dtype: object

In [8]:
df['Status'].unique()

array(['Developing', 'Developed'], dtype=object)

In [ ]:
developing_cond = df['Status'] == 'Developing'
developed_cond  = df['Status'] == 'Developed'

In [ ]:
print("Number of developing countries: ", 
      len(df.Status[developing_cond]))

print ("Number of developed countries: ", 
       df.Status[developed_cond].count())

In [ ]:
df.Status[developed_cond].shape[0]

In [ ]:
df['Alcohol'].max()  #try min(), mean(), median()

In [ ]:
df.Alcohol.min(), df.Alcohol.mean(), df.Alcohol.median()

In [ ]:
#exercise: get the rows with alcohol more than the median
#and count
#challenge: list these unique countries

#Answer:
#fancy_indexes = df.Alcohol > df.Alcohol.median()
#df.Country[fancy_indexes].unique()

In [ ]:
#exercise2: get the list of country
#with Schooling more than the median
#and GDP more than the median

cond1 = df.Schooling > df.Schooling.median()
cond2 = df.GDP > df.GDP.median()

countries = df.Country[cond1 & cond2].unique()
#use | for or

type(countries)

In [ ]:
#for any columns of continuous value, 
# it gives you count, mean, std, min, etc.
df.describe()

In [ ]:
#use some easy library for visualization
#it accepts input as dataframe
import seaborn as sns
#seaborn: super easy library for visualization
#it's built on top of matplotlib 
#matplotlib is the classic python library for visualization

#if i want to predict egg price, using gold and oil prices
#we called gold and oil prices MANY names
#   features, factors, independent variables, predictors, X
#   here, gold is called x_1, oil is called x_2
#we called egg price MANY names
#   labels, targets, outcomes, dependent variables, y

In [ ]:
#1. countplot is to plot the discrete x_1 or y
sns.countplot(data = df, x="Status")

In [ ]:
sns.__version__

In [ ]:
#2. distplot or displt is to plot the continuous x_1 or y
sns.displot(df.Alcohol)  #==> you get error, this is because your version is not >0.10
#displot = distribution plot

#exercise: try displot for another continuous variable

In [ ]:
df.columns

In [9]:
'''
format: .rename(
    columns =
    {oldname: newname,
     oldname2: newname2,
     oldname3: newname3}
)
'''
df = df.rename(
    columns = {'Life expectancy ': 'life-exp',
               'Income composition of resources' : 'income',
               'Schooling' : 'schooling'}
)

# df.head()

#tips:  if you don't want to do df=, just put a argument inplace=True
#exercise: can you change 
#   Income composition of resources to income, 
#   Schooling to schooling and 
#   Status to status

In [10]:
#challenge: help clear all the spaces in the columns
import numpy as np
df.columns = df.columns.str.strip()

df.columns

Index(['Country', 'Year', 'Status', 'life-exp', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'income', 'schooling'],
      dtype='object')

In [ ]:
#3. boxplot is to plot discrete x_1 vs. continuous x_2/y
sns.boxplot(x = df['Status'], y = df['life-exp'])

In [ ]:
#4. scatterplot is to plot continuous x_1 vs. continuous x_2/y
#hue MUST be a discrete variable
sns.scatterplot(x = df['Alcohol'], y = df['life-exp'], hue = df['Status'])

In [11]:
df.columns

Index(['Country', 'Year', 'Status', 'life-exp', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'income', 'schooling'],
      dtype='object')

In [ ]:
cols = df.columns
cols = np.array(cols)

type(cols)

In [ ]:
#then i have to check how to remove
cols = np.delete(cols, np.where(cols=='Status'))
cols = np.delete(cols, np.where(cols=='Country'))
cols = np.delete(cols, np.where(cols=='life-exp'))
cols = np.delete(cols, np.where(cols=='Year'))

cols

In [ ]:
#exercise, find me the features that have very strong correlation with life-exp
#exercise, which features have almost NO relationship with life exp

#get some columns, but I also have to drop some columns - drop Status, drop Country, drop life-exp
# import matplotlib.pyplot as plt
# for each_col in cols: 
#     sns.scatterplot(x = df[each_col], y = df['life-exp'], hue = df['Status'])
#     plt.show()

In [ ]:
#exercise:  try sns.heatmap(df.corr(), annot=True)
#df.corr() calculates the correlation between continuous features

#exercise:  try to figure out how to increase the size of the figure 
# (hint: you have to change using matplotlib figure size)

#1st way: use sns.set 
#2nd way: set the figure size via the plt variable of matplotlib
import matplotlib.pyplot as plt

plt.figure(figsize=(15, 5))
sns.heatmap(df.corr(), annot=True)

### 3. Preprocessing / Cleaning

#### 3.1 dealing with missing values
  - Case 1: **Continuous values**
    - Replace with:
      - 1. **mean/median** if the distribution is normal
      - 2. **median** if the distribution is NOT normal
      - 3. **0** if 0 is a very common occurrence in the real-world
      - 4. **regression** if your data fits nicely with regression, especially linear regression
    - Do we ever drop?
      - Almost never.  Drop columns lose a lot of values, dropping rows also lost other features....
      - If you are super sure this is human mistake, you can drop
  - Case 2: **Discrete values**
    - Replace with: 
      - 1. **Majority** - when majority is like 90%
      - 2. **No category** - when we are not so sure
      - 3. **Ratio** - preserve the shape of distribution

In [12]:
#function to quickly check missing values
df.isna().sum()

# df['life-exp'].isna().sum()

#this is my plan:

#features: income, schooling, status
#label   : life-exp

Country                     0
Year                        0
Status                      0
life-exp                   10
Adult Mortality            10
infant deaths               0
Alcohol                   194
percentage expenditure      0
Hepatitis B               553
Measles                     0
BMI                        34
under-five deaths           0
Polio                      19
Total expenditure         226
Diphtheria                 19
HIV/AIDS                    0
GDP                       448
Population                652
thinness  1-19 years       34
thinness 5-9 years         34
income                    167
schooling                 163
dtype: int64

In [ ]:
#typical steps to fill in missing value (continuous values)

#1. Ex1: plot the distribution (income, schooling, life-exp)
#if your data is discrete, use countplot
sns.displot(df['income'])

#2. Ex2: print mean and median
df['income'].mean(), df['income'].median()

#3. judge by yourself mean or median better, then fillna
##########I COMMENT DUE TO POSSIBLE DATA LEAKAGE
# df['income'] = df['income'].fillna(df['income'].median())
#df['income'].fillna(df['income'].median(), inplace=True)  ==> you don't have assign a variable to take the value

#exercise: please fillna for schooling and life-exp

#1. plot the distribution
# let's assume i plot already, and i found that median is a good representation
# good representation - high probability
# ##########I COMMENT DUE TO POSSIBLE DATA LEAKAGE
# df['life-exp'] = df['life-exp'].fillna(df['life-exp'].median())
# df['schooling'] = df['schooling'].fillna(df['schooling'].median())

#make sure schooling.isna().sum() and life-exp.isna().sum() is 0

#1, 2, 3, 3, 100

#assert df['schooling'].isna().sum() == 0  #unit test

#mean = 22
#median = 3

In [ ]:
#press B to quickly get new cell
#press D D to quickly delete cell
#press M to change to markdown

In [ ]:
# df.isna().sum()

In [ ]:
# cols = ['life-exp', 'income', 'schooling']

# for col in cols:
#     df[col].fillna(df[col].median(), inplace=True)

# assert df['life-exp'].isna().sum() == 0
# assert df['income'].isna().sum() == 0
# assert df['schooling'].isna().sum() == 0

#one thing very important
#if YOU HAVE MISSING VALUES, when you run ML models
#   you will get error:  Infinity NaN values.....
#if you want to drop the rows, use df[colname].dropna()

#### 3.2 Convert strings to numbers (float/int)

- because ALL ML and DL models don't take strings
  - data type error:  Expected int/float but got strings
- to quickly scan use info(), note the "objects"

In [ ]:
#df.info() 
#scan for dtype = objects

In [ ]:
df.Status.unique()

#### Theory/principle how to convert string to integer/float

Three ways:

1. **Label encoding**: Just change to number:
   1. Example: change developing to 0, developed to 1
   2. Pros: super simple
   3. Cons: imagine you got encoded 0, 1, 2, 3, 4, 5
      1. You create a unwanted knowledge of order within this, e.g., 5 > 1
      2. NEVER USE label encoding if you have more than two categories
2. **One-hot encoding**: Pivot the values and make it become the columns
   1. Delete the column "Status"
   2. Put Developing as one column; Developed as another column
      1. if Developing is true, put 1, and then Developed will be 0
      2. if Developing is false, put 0, and then in the Developed col, will be 1
3. **Sparse one-hot encoding**: if you have n columns of pivot, you can always delete 1 to save space.

In [13]:
#we want to convert Status to 0 and 1
#easiest way is to use sklearn.preprocessing import LabelEncoder

#1. import the library
from sklearn.preprocessing import LabelEncoder

#2. create the object
le = LabelEncoder()

#3. fit and transform
some_make_up_data = np.array(["Male", "Female", "Female", "Male"]) #===one column of df
result = le.fit_transform(some_make_up_data)

print(result)

#if you want to know which map to which, use le.inverse_transform(np.array([0, 1]))

'''
le.fit_transform(some_make_up_data) 

=== 

le.fit(some_make_up_data)  #learn the mapping
result = le.transform(some_make_up_data)  #transform the data

'''

#i want to tell the difference between fit and transform
#fit means learn the pattern
#transform means transform the data

[1 0 0 1]

'\nle.fit_transform(some_make_up_data) \n\n=== \n\nle.fit(some_make_up_data)  #learn the mapping\nresult = le.transform(some_make_up_data)  #transform the data\n\n'

In [14]:
#Exercise: please tranform Status using LabelEncoder
df['status_en'] = le.fit_transform(df['Status'])
df['status_en'].unique()

array([1, 0])

In [15]:
#to know that what maps to what 
le.inverse_transform(np.array([0, 1]))

array(['Developed', 'Developing'], dtype=object)

In [16]:
#test that my transformation is correct
assert len(df['status_en'].unique()) == 2

Break: 16:50 - 17:00

#### 3.3 Standardization / Normalization

-i.e., we usually do splitting before any preprocessing

- splitting - test train split before any preprocessing
  - if you standardize
  - if you fill missing value with some global statistics, you should split
  - (it's ok to label encode)

- when some knowledge of the testing set flows to the training set, we called "data leakage"  --> this is one of MOST COMMON MISTAKES of all beginners...like 99%

In [ ]:
data = np.array([[1, 5], [2, 6], [3, 7], [4, 8]])

In [ ]:
np.array([1, 2, 3, 4]).std()

In [ ]:
(2 - 2.5) / 1.11

In [ ]:
#for each feature, do (x - mean) / std

#for the first feature, mean = (1 + 2 + 3 + 4) / 4 = 2.5
# for the first data, do (1 - 2.5) / 1.11 = -1.35
# for the second data, do (2 - 2.5) / 1.11 = -0.45

#after standardization, all features will have same scale
#all features mean = 0, std = 1

#1. import the library
from sklearn.preprocessing import StandardScaler

#2. create the object
sc = StandardScaler()

#3. fit and transform
standardized_data = sc.fit_transform(data)

print(standardized_data)

#when do you want to standardize your data:
#1. when you use regression, definitely yes - feature importance
#2. in most classification algorithms (not distance-based algorithms), you benefit a bit
#   from standardization
#3. your training will be more stable

#when you should NOT standardize your data:
#1. when the mean does not represent well your data
#   signal
#   we can either do nothing or do min-max normalization
#from sklearn.preprocessing import MinMaxScaler #try this at your home
# (x - xmax) / (xmax - xmin) ==> (0, 1)

### 4. Feature Extracton / Selection

- Seriously consider which X and y to use for training

In [ ]:
df.columns

#### Define X and y

In [17]:
X = df[['income', 'schooling', 'status_en']]
X.shape

#for X to be used with sklearn, it must be in the shape of (m, n)
#where m is number of samples, and n is number of features
#if you have only one feature, n = 1 (e.g., it cannot be (m, ); MUST be (m, 1))

assert X.shape[0] > 0
assert X.shape[1] > 0

In [18]:
y = df['life-exp']
#for y to be used with sklearn, if you only have one label,
#the shape is (m, ), where m is number of samples

#### Test-train-split

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=999)

In [20]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2056, 3), (882, 3), (2056,), (882,))

In [21]:
import math
assert int(X.shape[0] * 0.7) == X_train.shape[0]
assert int(X.shape[0] * 0.7) == y_train.shape[0]
assert int(math.ceil(X.shape[0] * 0.3)) == X_test.shape[0]
assert int(math.ceil(X.shape[0] * 0.3)) == y_test.shape[0]

#### Fillna

- I assume you already deleted fillna on top!

In [23]:
print("Before income: ", X_train['income'].median())
print("Before schooling: ", X_train['schooling'].median())

X_train['income'].fillna(X_train['income'].median(), inplace=True)
X_train['schooling'].fillna(X_train['schooling'].median(), inplace=True)

print("After income: ", X_train['income'].median())
print("After schooling: ", X_train['schooling'].median())

print("Before income test set: ", X_test['income'].median())
print("Before schooling test set: ", X_test['schooling'].median())

#use median of training set to fillna for testing set
X_test['income'].fillna(X_train['income'].median(), inplace=True)
X_test['schooling'].fillna(X_train['schooling'].median(), inplace=True)

print("After income test set: ", X_test['income'].median())
print("After schooling test set: ", X_test['schooling'].median())

Before income:  0.678
Before schooling:  12.3
After income:  0.678
After schooling:  12.3
Before income test set:  0.677
Before schooling test set:  12.4
After income test set:  0.678
After schooling test set:  12.3

<ipython-input-23-1b7b48c49471>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['income'].fillna(X_train['income'].median(), inplace=True)
<ipython-input-23-1b7b48c49471>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['schooling'].fillna(X_train['schooling'].median(), inplace=True)
<ipython-input-23-1b7b48c49471>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['income'].fillna(X_train['income'].median(), inplace=True)
<ipython-input-23-1b7b48c49471>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['schooling'].fillna(X_train['schooling'].median(), inplace=True)

In [25]:
assert X_train['income'].isna().sum() == 0
assert X_train['schooling'].isna().sum() == 0

assert X_test['income'].isna().sum() == 0
assert X_test['schooling'].isna().sum() == 0

#### Scaling

In [26]:
#now i want to show, let's say standardization, how to do

#please assume the same for any other preprocessing

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test  = sc.transform(X_test)

In [ ]:
#please assume the same for fillna

#Exercise: 
# i want you to restart this notebook, but now, fillna with median() 
# from the training set....

In [ ]:
income_median    = np.median(X_train[: , 0])
schooling_median = np.median(X_train[:,  1])

income_median, schooling_median

#hint: get the median first, before it got standardized, 
# if not, the value you replaced is not valid

In [27]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2056, 3), (882, 3), (2056,), (882,))

In [29]:
X_train[:, 0].mean(), X_train[:, 1].mean()
X_train[:, 0].std(), X_train[:, 1].std()

(0.9999999999999999, 1.0)

### The rest is NOT really Pandas job

5. Training 
   1. cross validaiton, grid search
6. Testing / Inference
7. Deployment