# Sklearn Workshop

14:26 - 15:59

# 1. ETL
- load the data

In [52]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('brain_stroke.csv')
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,NaN,29.0,formerly smoked,1

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4975 non-null   object
 6   Residence_type     4977 non-null   object
 7   avg_glucose_level  4978 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

Note: Many fields need to be converted to numbers

# 2. EDA
- output: top three features

In [55]:
import seaborn as sns

# sns.pairplot(df)

In [56]:
#looks like age...influences, but other looks difficult....

### 2.1 Univariate analysis

In [57]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4975 non-null   object
 6   Residence_type     4977 non-null   object
 7   avg_glucose_level  4978 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [59]:
#discrete column
dis_col = df.select_dtypes(include=['object']).columns
#continuous column
con_col = df.select_dtypes(include=['int64', 'float64']).columns

In [60]:
#comment for readability
# for col in dis_col:
#     sns.countplot(data = df, x=col)

# for col in con_col:
#     sns.displot(data = df, x = col)

### 2.2 Multivariate analysis

In [61]:
df['gender'].value_counts()

Female    2907
Male      2074
Name: gender, dtype: int64

In [62]:
# import matplotlib.pyplot as plt
# for col in dis_col:
#     sns.barplot(x = df['stroke'], y = df[col])
#     plt.show()
    
#note:  definitely not gender!

In [63]:
#smoking status

In [64]:
# con_col = con_col.drop('stroke')
# con_col

# for col in con_col:
#     sns.barplot(x = df['stroke'], y = df[col])
#     plt.show()
    
#age, hypertension, heart_diseases, avg_glucose_level

# 3. Feature selection/extraction
- set X, and y
- train test split

In [65]:
#before setting X and y
#i will transform data using label encoder and get_dummy first
#just for convenience, since it won't cause data leakage anyway

df.info()

#i need to consider age, hypertension, heart_disease, smoking status, avg_glucose_level
#ONLY smoking status is a problem

#format: pd.get_dummies(dataframe, columns, drop_first)
#drop_first means the advanced one-hot encoding i told you before

df = pd.get_dummies(df, columns=['smoking_status'], drop_first=True)

#please notice that one category of smoking status is gone
#because we use the advanced one-hot encoding by calling drop_first=True
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4975 non-null   object
 6   Residence_type     4977 non-null   object
 7   avg_glucose_level  4978 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,stroke,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,1,1,0,0
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,1,0,1,0
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,1,0,0,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,1,0,1,0
4,Male,81.0,0,0,Yes,Private,Urban,NaN,29.0,1,1,0,0

In [66]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'stroke',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')

In [67]:
#now set the X and y

X = df[  ['age', 
        'hypertension', 
        'heart_disease', 
        'avg_glucose_level', 
        'smoking_status_formerly smoked', 
        'smoking_status_never smoked',
       'smoking_status_smokes']   ]

y = df['stroke']

X.shape, y.shape

((4981, 7), (4981,))

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=999)

# 4. Clean data
- clean missing values
- transfer categorical values to numbers
  - label encoder and one-hot encoder(get_dummy)

# 5. Modeling
- cross validation -> grid search
- this problem is a classification problem
  - use RandomForestClassifer, SVC, LogisticRegression, GaussianNB

# 6. Testing
- `.predict`
- use from sklearn.metrics import accuracy
- use from sklearn.metrics import classification_report
  - don't worry about what is recall, precision, f1
    - i will explain later....

# 7. Feature importance
- can you try

# 8. Save models